
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f2efef;
}
.logo{
    width: 100px;
    height: 50px;
    border: radius 5px;;
    background-color: #f5f5f5;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
}
.menu a:hover{
    color: #f5f5f5;
}